<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>top page</title>
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(function(){
			var num = /*[[${param.id[0]}]]*/;
			$.get("/rest/" + num, null, callback);
		});
		function callback(result){
			$('#obj').append('<li>id: ' + result.id + '<li>');
			$('#obj').append('<li>name: ' + result.name + '<li>');
			$('#obj').append('<li>mail: ' + result.mail + '<li>');
			$('#obj').append('<li>age: ' + result.age + '<li>');
			$('#obj').append('<li>memo: ' + result.memo + '<li>');
		}
	</script> -->
	<style>
		<style>
		h1 { font-size:18pt; font-weight:bold; color:gray; }
		body { font-size:13pt; color:gray; margin:5px 25px; }
		tr { margin:5px }
		th { padding:5px; color:white; background:darkgray; }
		td { padding:5px; color:black; background:#f0f0f0; }
	</style>
</head>
<body>
	<h1 th:text="#{content.title}">Helo page</h1>
	<p th:text="${msg}"></p>
	<ol id="obj"></ol>
	<table>
		<tr>
			<th>ID</th>
			<th>名前</th>
			<th>メール</th>
			<th>年齢</th>
			<th>メモ(tel)</th>
		</tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.memo}"></td>
		</tr>
	</table>
</body>
</html>