<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>edit page</title>
		<style>
			h1 { font-size:18pt; font-weight:bold; color:gray; }
			body { font-size:13pt; color:gray; margin:5px 25px; }
			td { padding:5px; color:black; background:#f0f0f0; }
		</style>
	</head>
	<body>
		<h1 th:text="${title}">Edit page</h1>
		<table>
			<form method="post" action="/delete" th:object="${formModel}">
				<input type="hidden" name="id" th:value="*{id}" />
				<tr><td><p th:text="|名前: *{name}|"></p></td></tr>
				<tr><td><p th:text="|年齢: *{age}|"></p></td></tr>
				<tr><td><p th:text="*{mail}|"></p></td></tr>
				<tr><td><p th:text="*{memo}|"></p></td></tr>
				<tr><<td><input type="submit" value="delete" /></td></tr>
			</form>
		</table>
	</body>
</html>